.heading{
    color: rgb(0, 0, 1);
    text-align: center;
}
p{
    color:rgb(108, 31, 231);
    height: 10px;
    width:500px;
    margin-left: 550px;
    
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
}